/* Google Fonts */

/* Bebas Neue font-family: "Bebas Neue", cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Open Sans font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 100%);
    --fg: hsl(var(--hue), 10%, 0%);
    --primary: hsl(var(--hue), 90%, 55%);
    --primaryT: hsla(var(--hue), 90%, 55%, 0);
    --transDur: 0.3s;
    font-size: calc(16px + (32 - 16) * (100vw - 320px) / (1280 - 320));
  }